@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="text-center mt-10">
        <input type="file" multiple id="inputSubirArchivos" />
        <br /><br />
        <div id="loaderArchivos"></div>

        <div id="btnSubirArchivos" class="container-btn-subir-archivos">
            <button class="btn btn-success btn-comprobar" onclick="subirArchivos()">Enviar al Servidor</button>
        </div>
    </div>
   
</div>